local/dev/DossierService_1.0_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.exchange.nl/exchange/wsdata/1.0" version="1.0" xmlns:tns="http://www.exchange.nl/exchange/wsdata/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--RELATIES-->
  <xs:complexType name="Volmacht">
    <xs:sequence>
      <xs:element name="relatienummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>Unieke identificatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="crwamCode" type="xs:int">
        <xs:annotation>
          <xs:documentation>CRWAM code van de volmacht</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="naam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Naam van de volmacht; maximaal 100 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ATP">
    <xs:sequence>
      <xs:element name="relatienummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>Unieke identificatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="afmNummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>AFM nummer van de tussenpersoon</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="naam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Naam van de ATP; maximaal 100 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Verzekeraar">
    <xs:sequence>
      <xs:element name="relatienummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>Unieke identificatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serienummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>Serienummer van de verzekeraar</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="naam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Naam van de verzekeraar; maximaal 50 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="afdelingsnaam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Naam van de afdeling; maximaal 50 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Expertisebureau">
    <xs:sequence>
      <xs:element name="relatienummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>Unieke identificatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="naam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Naam van dit expertisebureau; maximaal 50
						tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Schadehersteller">
    <xs:sequence>
      <xs:element name="relatienummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>Unieke identificatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="naam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Naam van het schadeherstelbedrijf; maximaal
						100 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bezoekadres" type="tns:Adres">
        <xs:annotation>
          <xs:documentation>Bezoekersadres van het
						herstelbedrijf</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="postadres" type="tns:Adres">
        <xs:annotation>
          <xs:documentation>Postadres van het schadeherstelbedrijf</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="telefoon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Telefoonnummer van het
						schadeherstelbedrijf; maximaal 15 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fax" type="xs:string">
        <xs:annotation>
          <xs:documentation>Faxnummer van het schadeherstelbedrijf;
						maximaal 15 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string">
        <xs:annotation>
          <xs:documentation>Emailadres van het
						schadeherstelbedrijf; maximaal 100 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rating" type="xs:string">
        <xs:annotation>
          <xs:documentation>eXchange Rating van het
						schadeherstelbedrijf. Varierend van A t/m E</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="latitude" type="xs:double">
        <xs:annotation>
          <xs:documentation>Breedtegraad van de locatie van het
						schadeherstelbedrijf</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="longitude" type="xs:double">
        <xs:annotation>
          <xs:documentation>Lengtegraad van de locatie van het
						schadeherstelbedrijf</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Claimsmanager">
    <xs:sequence>
      <xs:element name="relatienummer" type="xs:int">
        <xs:annotation>
          <xs:documentation>Unieke identificatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="naam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Bedrijfsnaam van deze claimsmanager;
						maximaal 50 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--DOSSIER-->
  <xs:complexType name="Dossier">
    <xs:sequence>
      <!--Metadata-->
      <xs:element name="dossiernummer" type="xs:long">
        <xs:annotation>
          <xs:documentation>Het dossiernummer dat eXchange toegekend heeft
						aan het dossier. Exact 11 cijfers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="created" type="xs:string">
        <xs:annotation>
          <xs:documentation>Datum waarop het dossier is aangemaakt</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:string">
        <xs:annotation>
          <xs:documentation>Datum waarop het dossier voor het laatst is
						gewijzigd</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fotosLastModified" type="xs:string">
        <xs:annotation>
          <xs:documentation>Datum waarop voor het laatst de verzameling
						bijbehorende foto's is aangepast</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="tns:DossierStatus">
        <xs:annotation>
          <xs:documentation>Status van het dossier in eXchange</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="voortgang" type="tns:DossierVoortgang">
        <xs:annotation>
          <xs:documentation>Voortgangsindicators voor dit
						dossier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="melder" type="xs:string">
        <xs:annotation>
          <xs:documentation>Officiële naam van degene die dit
						dossier heeft aangemeld; maximaal 100 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!--Schadegegevens-->
      <xs:element name="schadedatum" type="xs:date">
        <xs:annotation>
          <xs:documentation>De datum waarop de schade is ontstaan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schadeType" type="tns:SchadeType">
        <xs:annotation>
          <xs:documentation>Type van de schade, vooralsnog alleen
						carrosserie schade. Later wordt dit uitgebreid met
						glasschades.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schadeOorzaak" type="tns:SchadeOorzaak">
        <xs:annotation>
          <xs:documentation>Oorzaak van de carrosserie schade</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="waarborgfonds" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Melding waarborgfonds.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="voertuig" type="tns:Voertuig">
        <xs:annotation>
          <xs:documentation>Voertuig-informatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schade" type="tns:CarrosserieSchade">
        <xs:annotation>
          <xs:documentation>Schade-informatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="herstelGereed" type="xs:date">
        <xs:annotation>
          <xs:documentation>Vermoedde datum waarop het herstel
						gereed is.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="voorexpertiseAanvraag" type="tns:VoorexpertiseAanvraag">
        <xs:annotation>
          <xs:documentation>Gevuld indien de schadehersteller
						voorexpertise heeft aangevraagd</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="voorexpertiseResultaat" type="tns:ExpertiseResultaat">
        <xs:annotation>
          <xs:documentation>Gevuld indien het expertisebureau
						voorexpertise heeft uitgevoerd</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="calculaties">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="calculatie" nillable="true" type="tns:Calculatie">
              <xs:annotation>
                <xs:documentation>Calculaties die bij dit dossier
									zijn geüpload</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!--Verzekeringsgegevens-->
      <xs:element minOccurs="0" name="polisdata" type="tns:Polisdata">
        <xs:annotation>
          <xs:documentation>Polisinformatie over het dossier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="verzekerde" type="tns:Persoon">
        <xs:annotation>
          <xs:documentation>Informatie over de verzekerde op dit
						dossier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="berijder" type="tns:Persoon">
        <xs:annotation>
          <xs:documentation>Informatie over de berijder op dit
						dossier, indien deze afwijkt van de verzekerde</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dekking" type="tns:Dekking">
        <xs:annotation>
          <xs:documentation>Controle of er dekking is afgegeven op
						dit dossier. Ja/Nee of Onbekend</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="opmerkingDekking" type="xs:string">
        <xs:annotation>
          <xs:documentation>Toelichting op de afgegeven dekking;
						maximaal 250 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!--Betrokken partijen-->
      <xs:element minOccurs="0" name="referenties" type="tns:Referenties">
        <xs:annotation>
          <xs:documentation>Mogelijkheid tot het registeren van
						eigen unieke identifiers op het dossier per rol.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="verzekeraar" type="tns:Verzekeraar">
        <xs:annotation>
          <xs:documentation>De verzekeraar die de groene kaart van dit
						dossier heeft afgegeven.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schadehersteller" type="tns:Schadehersteller">
        <xs:annotation>
          <xs:documentation>De schadehersteller die dit dossier afhandelt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dealer" type="tns:Schadehersteller">
        <xs:annotation>
          <xs:documentation>De dealer die bij dit dossier betrokken is.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expertisebureau" type="tns:Expertisebureau">
        <xs:annotation>
          <xs:documentation>Het expertisebureau dat de eventuele expertise
						op dit dossier uitvoert.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="volmacht" type="tns:Volmacht">
        <xs:annotation>
          <xs:documentation>Indien aanwezig, de volmacht die het
						dossier administratief afhandelt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="atp" type="tns:ATP">
        <xs:annotation>
          <xs:documentation>Indien aanwezig, de tussenpersoon die de
						schade heeft gemeld.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="claimsmanager" type="tns:Claimsmanager">
        <xs:annotation>
          <xs:documentation>Indien aanwezig, de claimsmanager die
						namens de verzekeraar/volmacht het dossier
						administratief afhandelt.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--COMPLEXE ELEMENTEN-->
  <xs:complexType name="Foto">
    <xs:sequence>
      <xs:element name="created" type="xs:string">
        <xs:annotation>
          <xs:documentation>Datum waarop de foto initieel is aangeboden
						aan eXchange</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dossiernummer" type="xs:long">
        <xs:annotation>
          <xs:documentation>Dossiernummer waarop deze foto
						toebehoort</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fotoBytes" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>Aantal bytes van de foto; foto's mogen
						maximaal 200Kb groot zijn.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="index" type="xs:int">
        <xs:annotation>
          <xs:documentation>Plaats van de foto in de thumbnail lijst;
						een waarde tussen 0 en 9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:string">
        <xs:annotation>
          <xs:documentation>Datum wanneer de foto voor het laatst is
						aangepast</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mimeType" type="xs:string">
        <xs:annotation>
          <xs:documentation>Mime type van de foto; maximaal 50 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DossierCreatieResultaat">
    <xs:sequence>
      <xs:element minOccurs="0" name="dossiernummer" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Polisdata">
    <xs:sequence>
      <xs:element name="polisnummer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Polisnummer van de polis; maximaal 20
						tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenRisicoCarrosserie" type="xs:double">
        <xs:annotation>
          <xs:documentation>Eigen risico; mag niet kleiner zijn de 0</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="product" type="xs:string">
        <xs:annotation>
          <xs:documentation>Naam van het verzekeringsprocuct; maximaal
						250 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="soortDekking" type="tns:SoortDekking">
        <xs:annotation>
          <xs:documentation>Soort dekking.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ingangsdatum" type="xs:date">
        <xs:annotation>
          <xs:documentation>Datum waarop de polis ingaat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="einddatum" type="xs:date">
        <xs:annotation>
          <xs:documentation>Datum waarop de polis in verstreken</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="btw" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Inclusief BTW (true)
						Exclusief BTW (false)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Persoon">
    <xs:sequence>
      <xs:element minOccurs="0" name="voorletters" type="xs:string">
        <xs:annotation>
          <xs:documentation>Voorletters van de persoon; maximaal
						50 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tussenvoegsel" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tussenvoegsel van de persoon;
						maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="achternaam" type="xs:string">
        <xs:annotation>
          <xs:documentation>Achternaam van de persoon; maximaal 50
						tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="geboortedatum" type="xs:date">
        <xs:annotation>
          <xs:documentation>Geboortedatum van de persoon</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="adres" type="tns:Adres">
        <xs:annotation>
          <xs:documentation>Het adres</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string">
        <xs:annotation>
          <xs:documentation>Email adres van de persoon; maximaal 50
						tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="mobiel" type="xs:string">
        <xs:annotation>
          <xs:documentation>Mobiel telefoonnummer van de persoon;
						maximaal 15 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="telefoon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Telefoonnummer van de persoon;
						maximaal 15 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bankrekening" type="xs:string">
        <xs:annotation>
          <xs:documentation>Bankrekening nummer van de persoon;
						maximaal 18 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Referenties">
    <xs:sequence>
      <xs:element minOccurs="0" name="expertise" type="xs:string">
        <xs:annotation>
          <xs:documentation>Referentienummer dat het
						expertisebureau hanteert; maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schadehersteller" type="xs:string">
        <xs:annotation>
          <xs:documentation>Referentienummer dat het
						schadeherstelbedrijf hanteert; maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="verzekeraar" type="xs:string">
        <xs:annotation>
          <xs:documentation>Referentienummer dat de
						verzekeringsmaatschappij hanteert; maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="volmacht" type="xs:string">
        <xs:annotation>
          <xs:documentation>Referentienummer dat de volmacht
						hanteert; maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="atp" type="xs:string">
        <xs:annotation>
          <xs:documentation>Referentienummer dat de
						tussenpersoon hanteert; maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="claimsmanager" type="xs:string">
        <xs:annotation>
          <xs:documentation>Referentienummer dat de
						claimsmanager hanteert; maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Voertuig">
    <xs:sequence>
      <xs:element name="kenteken" type="xs:string">
        <xs:annotation>
          <xs:documentation>Voor Nederlandse kentekens wordt het kenteken
						verwacht zonder streepjes;
						dus 29DRFF en niet 29-DR-FF. Maximaal 15 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="true" name="nederlandsKenteken" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Aangeven of het voertuig een nederlands
						kenteken voert</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="merk" type="xs:string">
        <xs:annotation>
          <xs:documentation>Merk van het voertuig; maximaal 50 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="model" type="xs:string">
        <xs:annotation>
          <xs:documentation>Model van het voertuig; maximaal 50 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation>Type van het voertuig; maximaal 50 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="voertuigsoort" type="tns:VoertuigType">
        <xs:annotation>
          <xs:documentation>Type voertuigsoort, bron RDW</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="meldcode" type="xs:int">
        <xs:annotation>
          <xs:documentation>Meldcode van het voertuig; vier-cijfering
						positief getal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vinnummer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Vinnummer van het voertuig; exact 17
						tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="2" minOccurs="0" name="brandstof" type="tns:BrandstofType">
        <xs:annotation>
          <xs:documentation>Brandstof van het voertuig</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kleur" type="xs:string">
        <xs:annotation>
          <xs:documentation>Kleur van het voertuig; maximaal 30 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="carrosserieVariant" type="tns:CarrosserieType">
        <xs:annotation>
          <xs:documentation>Carrosserie variant van het voertuig</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aantalDeuren" type="xs:int">
        <xs:annotation>
          <xs:documentation>Aantal deuren van het voertuig; waarde ligt
						tussen 1 en 9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aantalZitplaatsen" type="xs:int">
        <xs:annotation>
          <xs:documentation>Aantal zitplaatsen van het voertuig; waarde
						ligt tussen 1 en 9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bouwjaar" type="xs:int">
        <xs:annotation>
          <xs:documentation>Bouwjaar van het voertuig. Jaartal altijd
						in 4 cijfers</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="datumDeel1" type="xs:date">
        <xs:annotation>
          <xs:documentation>Datum deel 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="datumDeel2" type="xs:date">
        <xs:annotation>
          <xs:documentation>Datum deel 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="datumEersteToelating" type="xs:date">
        <xs:annotation>
          <xs:documentation>Datum eerste toelating</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aantalCilinders" type="xs:int">
        <xs:annotation>
          <xs:documentation>Aantal cilinders</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cilinderInhoud" type="xs:int">
        <xs:annotation>
          <xs:documentation>Cilinder inhoud in cm3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vermogen" type="xs:int">
        <xs:annotation>
          <xs:documentation>vermogen van in voertuig in kW</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="massaLeeg" type="xs:int">
        <xs:annotation>
          <xs:documentation>Massa leeg voertuig in kg</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarrosserieSchade">
    <xs:sequence>
      <xs:element minOccurs="0" name="eenheidTeller" type="tns:TellerType">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tellerstand" type="xs:int">
        <xs:annotation>
          <xs:documentation>Afgelezen kilometerstand van het
						voertuig op moment van reparatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="toestand" type="tns:ToestandType">
        <xs:annotation>
          <xs:documentation>Toestand van het voertuig</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vastgelegdeSchade" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstuele omschrijving van de schade. Dit veld komt in een volgende versie
						te vervallen en
						kan weggelaten worden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aangrijppunt" type="xs:string">
        <xs:annotation>
          <xs:documentation>Het aangrijppunt is de plaats op het
						beschadigde voertuig waar het voertuig als
						eerste is geraakt.
						A - Bereik tussen de uiterste linkervoorzijde en de uiterste
						rechtervoorzijde van het voertuig,
						waar ondermeer het frontpaneel, koplampen, knipperlichten en
						voorbumper mee worden bedoeld.
						E - Bereik tussen de uiterste linkerachterzijde en de uiterste
						rechterachterzijde van het
						voertuig
						I - Bovenzijde
						J - Onderzijde
						K - Totaal verlies
						Rechterzijde (bijrijderkant)
						B - Bereik tussen voorzijde spatscherm of zijkant bumper en de
						A-stijl
						C - bij een 2-deurs voertuig het bereik tussen A-stijl en B-stijl
						en bij een 4-deurs voertuig
						het bereik tussen de A-stijl en C-stijl.
						D - Bereik tussen C-stijl en achterzijde zijpaneel of zijkant
						achterkant
						Linkerzijde (bestuurderskant)
						F - Bereik tussen voorzijde spatscherm of zijkant bumper en de
						A-stijl
						G - bij een 2-deurs voertuig het bereik tussen A-stijl en B-stijl
						en bij een 4-deurs voertuig
						het bereik tussen de A-stijl en C-stijl.
						H - Bereik tussen C-stijl en achterzijde zijpaneel of zijkant
						achterkant</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stootrichting" type="xs:int">
        <xs:annotation>
          <xs:documentation>De stootrichting is de richting van waaruit het
						beschadigde voertuig is geraakt.
						Indien het beschadigde voertuig recht van voren wordt geraakt dan is de
						stootrichting 12 uur.
						Wordt het voertuig van rechtsgeraakt in een hoek van 90 graden dan is
						de stootrichting 3 uur. De
						stootrichting is onafhankelijk van het feit of het voertuig aangereden wordt of
						zelf een
						aanrijding veroorzaakt.
						Mogelijke keuzes: 1 t/m 12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schadelocaties" type="xs:string">
        <xs:annotation>
          <xs:documentation>Textuele omschrijving van de locaties
						waar schade is; maximaal 200 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schadeOmvang" type="xs:string">
        <xs:annotation>
          <xs:documentation>Textuele omschrijving van de omvang van
						de schade; maximaal 200 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="reparatieduur" type="xs:int">
        <xs:annotation>
          <xs:documentation>Reparatieduur van de schade;
						positief getal</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aanvangHerstel" type="xs:date">
        <xs:annotation>
          <xs:documentation>Datum waarop met het herstel wordt begonnen.
						Mag niet eerder zijn dan de schadedatum.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schadecoordinaten" type="xs:string">
        <xs:annotation>
          <xs:documentation>Voor intern gebruik; kan weggelaten worden</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Adres">
    <xs:sequence>
      <xs:element minOccurs="0" name="straat" type="xs:string">
        <xs:annotation>
          <xs:documentation>De straatnaam. Maximaal 50 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="huisnummer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Het huisnummer. Maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="toevoeging" type="xs:string">
        <xs:annotation>
          <xs:documentation>Eventuele toevoeging op het huisnummer.
						Maximaal 20 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="postcode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Postcode - 4 cijfers en 2 letters voor Nederlandse postcodes, bijvoorbeeld
						1000AB.
						Maximaal 7 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="plaats" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plaatsnaam. Maximaal 50 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="NL" minOccurs="0" name="land" type="xs:string">
        <xs:annotation>
          <xs:documentation>Landcode. Opties: NL voor Nederland, BE
						voor Belgie en DE voor Duitsland. Twee tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VoorexpertiseAanvraag">
    <xs:sequence>
      <xs:element name="reden" type="tns:VoorexpertiseReden">
        <xs:annotation>
          <xs:documentation>Reden voor expertise</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="opmerking" type="xs:string">
        <xs:annotation>
          <xs:documentation>Eventuele opmerkingen voor het
						expertisebureau; maximaal 2000 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="datum" type="xs:date">
        <xs:annotation>
          <xs:documentation>De uiterste datum waarop de aanvrager de
						expertise uitgevoerd wil zien</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DossierVoortgang">
    <xs:sequence>
      <xs:element name="schade" type="tns:DossierVoortgangStatus">
        <xs:annotation>
          <xs:documentation>Zijn alle vereiste details over de schade
						ingevuld?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="voertuig" type="tns:DossierVoortgangStatus">
        <xs:annotation>
          <xs:documentation>Zijn alle vereiste details over het voertuig
						ingevuld?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="polis" type="tns:DossierVoortgangStatus">
        <xs:annotation>
          <xs:documentation>Zijn alle vereiste details over de polis
						ingevuld?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="persoonsgegevens" type="tns:DossierVoortgangStatus">
        <xs:annotation>
          <xs:documentation>Zijn alle vereiste persoonsgegevens ingevuld?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fotos" type="tns:DossierVoortgangStatus">
        <xs:annotation>
          <xs:documentation>Zijn er minimaal 2 foto's aangeleverd?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="calculatie" type="tns:DossierVoortgangStatus">
        <xs:annotation>
          <xs:documentation>Is er minimaal 1 calculaties aangeleverd?</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Calculatie">
    <xs:sequence>
      <xs:element name="xrecords" type="xs:string">
        <xs:annotation>
          <xs:documentation>De inhoud van het bestand met de X-records</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="output90" type="xs:string">
        <xs:annotation>
          <xs:documentation>De inhoud van het bestand met output90-weergave</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="print" type="xs:string">
        <xs:annotation>
          <xs:documentation>De inhoud van het bestand met de printweergave</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="aangeboden" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Controle of deze calculatie is aangeboden</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="resultaat" type="tns:FilterResultaat">
        <xs:annotation>
          <xs:documentation>Indien deze calculatie is aangeboden, bevat
						dit element het resultaat hiervan.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expertiseResultaat" type="tns:ExpertiseResultaat">
        <xs:annotation>
          <xs:documentation>Het resultaat van de expertise.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Attachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="type" type="tns:AttachmentType">
        <xs:annotation>
          <xs:documentation>Het type attachment - per dossier is één
						attachment per type toegestaan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="filename" type="xs:string">
        <xs:annotation>
          <xs:documentation>De bestandsnaam van de attachment, zonder pad
						informatie. Maximaal 250 tekens lang</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="mimetype" type="xs:string">
        <xs:annotation>
          <xs:documentation>Mimetype van de attachment, bijvoorbeeld
						application/pdf. Maximaal 50 tekens lang.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="contents" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>Daadwerkelijke inhoud van de
						attachment in Base64.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lastModified" type="xs:string">
        <xs:annotation>
          <xs:documentation>Timestamp met de laatste wijziging op
						dit attachment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilterResultaat">
    <xs:sequence>
      <xs:element name="advies" type="tns:FilterAdvies">
        <xs:annotation>
          <xs:documentation>Het gecombineerde eindadvies op deze
						calculatie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sampled" type="xs:boolean"/>
      <xs:element name="statistischAdvies" type="tns:FilterAdvies">
        <xs:annotation>
          <xs:documentation>Het statistisch advies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="technischAdvies" type="tns:FilterAdvies">
        <xs:annotation>
          <xs:documentation>Het technisch advies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tariefControleOK" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Zijn de opgegeven tarieven in orde?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totaalBedrag" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>Het geschatte totaalbedrag</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="toelichtingStatistischAdvies" type="xs:string">
        <xs:annotation>
          <xs:documentation>Eventuele toelichting op het statistisch
						advies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="toelichtingTechnischAdvies" type="xs:string">
        <xs:annotation>
          <xs:documentation>Eventuele toelichting op het technisch
						advies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="toelichtingTariefControle" type="xs:string">
        <xs:annotation>
          <xs:documentation>Eventuele toelichting op de tarieven
						controle</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpertiseResultaat">
    <xs:sequence>
      <xs:element name="status" type="tns:ExpertiseResultaatStatus">
        <xs:annotation>
          <xs:documentation>Status van de expertise (goed- of
						afgekeurd)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="opmerkingen" type="xs:string">
        <xs:annotation>
          <xs:documentation>Opmerkingen bij de expertise; maximaal
						2000 tekens</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uitgevoerdeExpertise" type="tns:FilterAdvies">
        <xs:annotation>
          <xs:documentation>De daadwerkelijk uitgevoerde expertisemethode</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AanbiedenResultaat">
    <xs:sequence>
      <xs:element name="code" type="tns:AanbiedenResultaatCode"/>
      <xs:element name="toelichting" type="xs:string">
        <xs:annotation>
          <xs:documentation>Toelichting op bovenstaande waarde;
						maximaal 2000 tekens.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DossierCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="statussen">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="10" minOccurs="0" name="status" type="tns:DossierStatus"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="acties">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="10" minOccurs="0" name="actie" type="tns:DossierActie"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="dossiernummer" type="xs:long"/>
      <xs:element minOccurs="0" name="kenteken" type="xs:string"/>
      <xs:element minOccurs="0" name="serienummer" type="xs:int"/>
      <xs:element minOccurs="0" name="crwamCode" type="xs:int"/>
      <xs:element minOccurs="0" name="createdBefore" type="xs:string"/>
      <xs:element minOccurs="0" name="createdAfter" type="xs:string"/>
      <xs:element minOccurs="0" name="lastModifiedBefore" type="xs:string"/>
      <xs:element minOccurs="0" name="lastModifiedAfter" type="xs:string"/>
      <xs:element minOccurs="0" name="schadedatumBefore" type="xs:date"/>
      <xs:element minOccurs="0" name="schadedatumAfter" type="xs:date"/>
      <xs:element minOccurs="0" name="closedBefore" type="xs:string"/>
      <xs:element minOccurs="0" name="closedAfter" type="xs:string"/>
      <xs:element minOccurs="0" name="referenties" type="tns:Referenties"/>
      <xs:element minOccurs="0" name="relatienummerSchadehersteller" type="xs:int">
        <xs:annotation>
          <xs:documentation>voor intern gebruik</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="relatienummerExpertisebureau" type="xs:int">
        <xs:annotation>
          <xs:documentation>voor intern gebruik</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="relatienummerDealer" type="xs:int">
        <xs:annotation>
          <xs:documentation>voor intern gebruik</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="relatienummerClaimsmanager" type="xs:int">
        <xs:annotation>
          <xs:documentation>voor intern gebruik</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PagingCriteria">
    <xs:sequence>
      <xs:element default="1" name="page" type="xs:int">
        <xs:annotation>
          <xs:documentation>De gewenste pagina. Paginering begint bij 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="25" name="dossiersPerPage" type="xs:int">
        <xs:annotation>
          <xs:documentation>Het gewenste aantal dossiers per pagina.
						Toegestane waardes liggen tussen 1 en 1000.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderCriteria">
    <xs:sequence>
      <xs:element name="column" type="tns:Column">
        <xs:annotation>
          <xs:documentation>Kolom waarop gesorteerd wordt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="direction" type="tns:Direction">
        <xs:annotation>
          <xs:documentation>Volgorde van de sortering.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PagedResult">
    <xs:sequence>
      <xs:element name="page" type="xs:int">
        <xs:annotation>
          <xs:documentation>Het nummer van de opgevraagde pagina</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pageCount" type="xs:int">
        <xs:annotation>
          <xs:documentation>Het totaal aantal pagina's dat voldoet aan de
						opgegeven criteria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dossierCount" type="xs:int">
        <xs:annotation>
          <xs:documentation>Het totaal aantal dossiers dat voldoet aan de
						opgegeven criteria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dossiersPerPage" type="xs:int">
        <xs:annotation>
          <xs:documentation>Het aantal dossiers dat per pagina wordt
						getoond</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timestamp" type="xs:string">
        <xs:annotation>
          <xs:documentation>Deze timestamp wordt gegenereerd op het moment dat de query wordt
						uitgevoerd.
						Zie de interfacedocumentatie voor het correcte gebruik van deze
						timestamp.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dossiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1000" minOccurs="0" name="dossier" type="tns:Dossier">
              <xs:annotation>
                <xs:documentation>De daadwerkelijke dossiers</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--ENUMERATIES-->
  <xs:simpleType name="FilterAdvies">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tele">
        <xs:annotation>
          <xs:documentation>Expertise kan telefonisch worden
						afgehandeld</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Admin">
        <xs:annotation>
          <xs:documentation>Expertise niet nodig, administratieve
						afhandeling is voldoende</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fysiek">
        <xs:annotation>
          <xs:documentation>Fysieke expertise vereist</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Steekproef">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Voorexpertise">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExpertiseResultaatStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Goedgekeurd"/>
      <xs:enumeration value="Afgekeurd"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DossierStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nieuw"/>
      <xs:enumeration value="Open"/>
      <xs:enumeration value="Voorexpertise"/>
      <xs:enumeration value="Aangeboden"/>
      <xs:enumeration value="Expertise"/>
      <xs:enumeration value="Gereed"/>
      <xs:enumeration value="Geannuleerd"/>
      <xs:enumeration value="Gesloten"/>
      <xs:enumeration value="NietRouteerbaar"/>
      <xs:enumeration value="NietAanTeBieden"/>
      <xs:enumeration value="Afgekeurd"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SchadeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Carrosserie"/>
      <xs:enumeration value="Glas"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SchadeOorzaak">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Aanrijding met voertuig"/>
      <xs:enumeration value="Aanrijding met voetganger of fietser"/>
      <xs:enumeration value="Aanrijding met wegmeubilair"/>
      <xs:enumeration value="Aanrijding met vast object"/>
      <xs:enumeration value="Aanrijding met dieren"/>
      <xs:enumeration value="Brand"/>
      <xs:enumeration value="Diefstal met braak/Diefstal partieel"/>
      <xs:enumeration value="Inbraak"/>
      <xs:enumeration value="Hagel"/>
      <xs:enumeration value="Molest en/of vandalisme"/>
      <xs:enumeration value="Omslaan"/>
      <xs:enumeration value="Slippen"/>
      <xs:enumeration value="Storm"/>
      <xs:enumeration value="Verkeer"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SoortDekking">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Onbekend"/>
      <xs:enumeration value="Casco"/>
      <xs:enumeration value="BeperktCasco"/>
      <xs:enumeration value="VoertuigenBrand"/>
      <xs:enumeration value="VoertuigenDiefstal"/>
      <xs:enumeration value="VoertuigenBrandEnDiefstal"/>
      <xs:enumeration value="Voorruit"/>
      <xs:enumeration value="VakantiedekkingsCasco"/>
      <xs:enumeration value="VoertuigenBrandDiefstalEnStorm"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Dekking">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ja"/>
      <xs:enumeration value="Nee"/>
      <xs:enumeration value="Onbekend"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AttachmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXPERTISERAPPORT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VoertuigType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AANHANGWAGEN"/>
      <xs:enumeration value="BEDRIJFSAUTO"/>
      <xs:enumeration value="BROMFIETS"/>
      <xs:enumeration value="DRIEWIELIG MOTORVOERTUIG"/>
      <xs:enumeration value="MOTORFIETS"/>
      <xs:enumeration value="PERSONENAUTO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BrandstofType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DIESEL"/>
      <xs:enumeration value="LPG (LIQUIFIED PETROL GAS)"/>
      <xs:enumeration value="BENZINE"/>
      <xs:enumeration value="ELEKTRICITEIT"/>
      <xs:enumeration value="CNG (COMPRESSED NATURAL GAS; AARDGAS)"/>
      <xs:enumeration value="WATERSTOF"/>
      <xs:enumeration value="ALCOHOL"/>
      <xs:enumeration value="CRYOGEEN (GAS ONDER HOGE DRUK BIJ LAGE TEMPERATUUR)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CarrosserieType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ONBEKEND"/>
      <xs:enumeration value="CABRIOLET"/>
      <xs:enumeration value="COUPE"/>
      <xs:enumeration value="HATCHBACK"/>
      <xs:enumeration value="SEDAN"/>
      <xs:enumeration value="STATIONWAGEN"/>
      <xs:enumeration value="TERREINVOERTUIG"/>
      <xs:enumeration value="TREKKER"/>
      <xs:enumeration value="GESLOTEN WAGEN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TellerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="K"/>
      <xs:enumeration value="M"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ToestandType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Onbekend"/>
      <xs:enumeration value="Goed"/>
      <xs:enumeration value="Redelijk"/>
      <xs:enumeration value="Matig"/>
      <xs:enumeration value="Slecht"/>
      <xs:enumeration value="Zie opmerkingen"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VoorexpertiseReden">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Total loss"/>
      <xs:enumeration value="Vermoeden Total loss"/>
      <xs:enumeration value="Onlogisch schadebeeld"/>
      <xs:enumeration value="Melding waarborgfonds"/>
      <xs:enumeration value="Overig"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DossierActie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AanvullenVoertuig"/>
      <xs:enumeration value="AanvullenPolisEnDekking"/>
      <xs:enumeration value="AanvullenPersoonsgegevens"/>
      <xs:enumeration value="SelecterenSchadehersteller"/>
      <xs:enumeration value="AanvullenSchade"/>
      <xs:enumeration value="ToevoegenFotos"/>
      <xs:enumeration value="ToevoegenCalculaties"/>
      <xs:enumeration value="AanvragenVoorexpertise"/>
      <xs:enumeration value="UitvoerenExpertise"/>
      <xs:enumeration value="AnnulerenDossier"/>
      <xs:enumeration value="AfrondenDossier"/>
      <xs:enumeration value="AanbiedenDossier"/>
      <xs:enumeration value="Hertoewijzen"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DossierVoortgangStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Leeg"/>
      <xs:enumeration value="Incompleet"/>
      <xs:enumeration value="Compleet"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AanbiedenResultaatCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NietGeaccepteerd"/>
      <xs:enumeration value="CalculatieTechnischAfgewezen"/>
      <xs:enumeration value="TerExpertise"/>
      <xs:enumeration value="Goedgekeurd"/>
      <xs:enumeration value="TarievenAfgewezen"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Column">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created"/>
      <xs:enumeration value="Dossiernummer"/>
      <xs:enumeration value="LastModified"/>
      <xs:enumeration value="Kenteken"/>
      <xs:enumeration value="NaamClaimsmanager"/>
      <xs:enumeration value="NaamExpertisebureau"/>
      <xs:enumeration value="NaamSchadehersteller"/>
      <xs:enumeration value="NaamVerzekeraar"/>
      <xs:enumeration value="NaamVolmacht"/>
      <xs:enumeration value="ReferentieClaimsmanger"/>
      <xs:enumeration value="ReferentieExpertisebureau"/>
      <xs:enumeration value="ReferentieSchadehersteller"/>
      <xs:enumeration value="ReferentieVerzekeraar"/>
      <xs:enumeration value="ReferentieVolmacht"/>
      <xs:enumeration value="Schadedatum"/>
      <xs:enumeration value="Status"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending"/>
      <xs:enumeration value="Descending"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>